{{ form_errors(form) }}

<div class="ui segment">
    <h4 class="ui dividing header">{{ 'sylius.ui.general_info'|trans }}</h4>
    <div class="two fields">
        {{ form_row(form.type) }}
    </div>
</div>

<div class="ui segment">
    <h4 class="ui dividing header">{{ 'sylius.ui.criteria'|trans }}</h4>
    <div class="two fields">
        {{ form_row(form.subject) }}
        {{ form_row(form.content) }}
    </div>
</div>

<div class="ui segment">
    <h4 class="ui dividing header">{{ 'sylius.ui.enable'|trans }}</h4>
    {{ form_row(form.isActive) }}
</div>
